{% extends "global/base.html" %} 

{% block content %}

<script>
    var modal = document.getElementById("modalAdicionarAluno");

// Pega o <span> que fecha o modal
var span = document.getElementsByClassName("close")[0];

// Abre o modal ao clicar no botão
function openModal(aulaId) {
    document.getElementById("aula-info").textContent = aulaId;
    modal.style.display = "block";

    // Atualiza a ação do formulário para a aula correta
    document.getElementById("AddAluno").action = `/aula/${aulaId}/adicionar-aluno/`;
}

// Fecha o modal ao clicar no <span> (x)
span.onclick = function() {
    modal.style.display = "none";
}

// Fecha o modal ao clicar fora dele
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


<main class="content">

                    <!-- Modal -->
    <div id="modalAdicionarAluno" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Adicionar Aluno à Aula: <span id="aula-info"></span></h2>
            <form id="AddAluno" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Adicionar</button>
            </form>
        </div>
    </div>




    <div class="day">
        <div class="pagination-left">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&#9664;</a>
            {% else %}
                <span class="disabled">&#9664;</span>
            {% endif %}
        </div>
        <div class="nameDay">
            {% if page_obj %}
                <h1>{{ page_obj.object_list.0.day }}</h1>
            {% endif %}
        </div>
        <div class="pagination-right">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&#9654;</a>
            {% else %}
                <span class="disabled">&#9654;</span>
            {% endif %}
        </div>
    </div>

    {% for day in page_obj %}
    <div class="aula-Hora">
        <div class="card">
            <h1 class="title"> {{ day.hora_ini }} </h1>
            <div class="aluno-Card">
                {% for person in day.aluno_aula_set.all %}
                
                <div class="aluno-Foto">
                    <img src="{{ person.aluno.picture.url }}" alt="{{ person.aluno.nome }}"/>
                    <div class="aluno-Nome">{{ person.aluno.last_name }}</div> 
                </div>
                {% empty %}
                <p>Nenhum aluno inscrito nesta aula.</p>
                {% endfor %}
            </div>
            <div class="button">
                <button class="button-Card" onclick="openModal('{{ day.id }}')">Adicionar Aluno</button>
                <button class="button-Card"> Finalizar Aula </button>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock content %}