{% extends "global/base.html" %} 

{% block content %}

<main class="content">
    <div class="day">
        <div class="pagination-left">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&#9664;</a>
            {% else %}
                <span class="disabled">&#9664;</span>
            {% endif %}
        </div>
        <div class="nameDay">
            {% if page_obj %}
                <h1>{{ page_obj.object_list.0.day }}</h1>
            {% endif %}
        </div>
        <div class="pagination-right">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&#9654;</a>
            {% else %}
                <span class="disabled">&#9654;</span>
            {% endif %}
        </div>
    </div>

    {% for day in page_obj %}
    <div class="aula-Hora">
        <div class="card">
            <h1 class="title"> {{ day.hora_ini }} </h1>
            <div class="aluno-Card">
                {% for person in day.aluno_aula_set.all %}
                
                <div class="aluno-Foto">
                    <img src="{{ person.aluno.picture.url }}" alt="{{ person.aluno.nome }}"/>
                    <div class="aluno-Nome">{{ person.aluno.last_name }}</div> 
                </div>
                {% empty %}
                <p>Nenhum aluno inscrito nesta aula.</p>
                {% endfor %}
            </div>
            <div class="button">
                <button class="button-Card"> Finalizar Aula </button>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock content %}
