{% extends "global/base.html" %} 

{% block content %}

<div class="text-coach">
    <h1 class="title-coach">Olá Coach!</h1>
    <h2 class="subtitle-coach">Ações:</h2> 
</div>

<ul class="menu-list-Coach">
    <li class="menu-Coach">
        <a href= " {% url 'tennisTracer:createAluno' %} " class="menu-link-coach">
            <i class="fas fa-user-plus"></i>
            <span>Novo Aluno</span>
        </a>
    </li>
    <li class="menu-Coach">
        <a href= " {% url 'tennisTracer:index' %} " class="menu-link-coach">
            <i class="fas fa-plus-square"></i> 
            <span>Aulas</span>
        </a>
    </li>
    <li class="menu-Coach">
        <a href= " {% url 'tennisTracer:createTemas' %} " class="menu-link-coach">
            <i class="fas fa-calendar-check"></i> 
            <span>Aulas</span>
        </a>
    </li>
</ul>

{% endblock content %}