{% extends "global/base.html" %} 

{% block content %}

<h1 class="title">Olá Coach!</h1>
<h4 class="subtitle">Ações:</h4>

<ul class="menu-list">
    <li class="menu-item">
        <a href= " {% url 'tennisTracer:createTemas' %} " class="menu-link">
            <i class="fas fa-user-cog"></i> Alunos
        </a>
    </li>
    <li class="menu-item">
        <a href= " {% url 'tennisTracer:index' %} " class="menu-link">
            <i class="fas fa-calendar-check"></i> Aulas
        </a>
    </li>
</ul>

{% endblock content %}