:root{
    /* IMPORTS */
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    /* COLORS */
    --background-color: #1E1E1E;
    --dark-Green: #16B743;
    --light-Green: #B1EBC2;

    /* FONTS */
    --font_title: "Oswald", sans-serif;
    --font_subtitle: "Roboto Mono", monospace;

}

body {
    background: var(--background-color);
    font-family: var(--font_title);
    color: var(--aux_colors);
    padding: 10%;
}

.nameDay {
    color: var(--dark-Green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    border-radius: 8px;
    color: var(--background-color);
    text-align: center;
    align-items: center;
    font-family: var(--font_title);

}

.card-DarkGreen {
    background-color: var(--dark-Green);
}

.card-LightGreen {
    background-color: var(--light-Green);
}

.title {
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.aluno-Card {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rebeccapurple;

}

img {
    border-radius: 50px;
    width: 100px;
    height: 100PX;
}