:root{
    /* IMPORTS */
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    /* COLORS */
    --background-color: #1E1E1E;
    --dark-Green: #16B743;
    --light-Green: #B1EBC2;

    /* FONTS */
    --font_title: "Oswald", sans-serif;
    --font_subtitle: "Roboto Mono", monospace;

}

body {
    background: var(--background-color);
    font-family: var(--font_title);
    color: var(--aux_colors);
    padding: 10%;
}

.nameDay {
    color: var(--dark-Green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    border-radius: 8px;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: var(--font_title);

}

.card-DarkGreen {
    background-color: var(--dark-Green);

}

.card-LightGreen {
    background-color: var(--light-Green);
}


.title {
    align-items: center;
    justify-content: center;
    background-color: #16B743;
}

.aluno-Card{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.aluno-Foto {
    display: flex;  
    align-items: center; 
    border: 1px solid #ddd;
    border-radius: 8px;
    flex-direction: column;
    padding: 10px;
    width: 60%;
    height: 80%;
    background-color: #16B743;
    
}

.aluno-Nome{
    font-family: var(--font_subtitle);
}

.aulaHora
img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}